	  /*//////////////////////////////*/
	 /*/// ENSCROLL SCROLLBAR CSS ///*/
	/*//////////////////////////////*/
	#scrollbox {
		overflow: auto;
		max-height: 100px;
		margin: 0;
		padding: 0px 20px;
		min-width: 100%;
		background-color: rgba(239,239,239, 1.0) !important; 
	}
	.track {
		overflow: hidden;
		width: 12px;
		background: rgba(0,0,0,0.03);
		border-radius: 4px;
		border: 1px solid rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		-webkit-transition: background 250ms linear;
		transition: background 250ms linear;
	}
	.track:hover,
	.track.dragging {
		/*///// Empty /////*/
	}
	.handle {
		width: 10px;
		right: 0;
		background-color: rgba(0,0,102,0.8);
		border-radius: 4px;
		-moz-box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		-webkit-transition: width 250ms;
		transition: width 250ms;
	}
	.track:hover .handle,
	.track.dragging .handle {
		/*///// Empty /////*/
	}
	  /*///////////////////////////////////////*/
	 /*/// ENSCROLL SCROLLBAR CSS - CUSTOM ///*/
	/*///////////////////////////////////////*/		
	.scroll-up-v1,
	.scroll-down-v1,
	.scroll-up-v2,
	.scroll-down-v2,
	.scroll-up-v3,
	.scroll-down-v3	{
		width: 18px;
		height: 18px;
		font-family: FontAwesome !important;
		font-size: 10px !important;
		font-weight: normal !important;
		color: rgba(0,0,102,1.0) !important;
		text-align: center !important;
		background-color: rgba(0,0,0,0.0) !important;
		border-radius: 4px;
		border: 0 !important;
	}	
	.scroll-up-v1:before,
	.scroll-up-v3:before {
		display:block;
		margin-left: 1px;
		content: "\f0d8";
		line-height:18px;
	}
	.scroll-down-v1:before,
	.scroll-down-v3:before {
		display:block;
		margin-left: 1px;
		content: "\f0d7";
		line-height: 18px;
	}
	.scroll-up-v2:before {
		display:block;
		margin-left: 3px;
		content: "\f0d8";
		line-height:18px;
	}
	.scroll-down-v2:before {
		display:block;
		margin-left: 3px;
		content: "\f0d7";
		line-height: 18px;
	}
	.scroll-up-v1:hover,
	.scroll-down-v1:hover,
	.scroll-up-v2:hover,
	.scroll-down-v2:hover,
	.scroll-up-v3:hover,
	.scroll-down-v3:hover {
		color: rgba(0,200,0,1.0) !important;
	}
	.track-v1,
	.track-v2,
	.track-v3 {
		overflow: hidden;
		width: 18px;
		background: rgba(0,0,0,0.03);
		border-radius: 4px 0px 0px 4px;
		border: 1px solid rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1) inset;
		-webkit-transition: background 250ms linear;
		transition: background 250ms linear;
	}
	.track-v2 {
		right: -1px;
	}
	.handle-v1,
	.handle-v2,
	.handle-v3 {
		width: 16px;
		right: 0;
		background-color: rgba(0,0,102,1.0);		
		background-image: -ms-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,0,102,1) 100%);
		background-image: -moz-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,0,102,1) 100%);
		background-image: -o-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,0,102,1) 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(30, rgba(255,255,255,0.3)), color-stop(100, rgba(0,0,102,1)));
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,0,102,1) 100%);
		background-image: linear-gradient(to right, rgba(255,255,255,0.3) 30%, rgba(0,0,102,1) 100%);
		border-radius: 4px 0px 0px 4px;
		border: 0 !important;
		-moz-box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		box-shadow: 0.5px 2px 2px -1px rgba(0,0,0,0.5);
		-webkit-transition: width 250ms;
		transition: width 250ms;
	}
	.handle-v1:before,
	.handle-v2:before,
	.handle-v3:before {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		font-family: FontAwesome;
		content: "\f0c9";
		font-size: 10px;
		color: rgba(255,255,255,0.5);
		text-align: center;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
	}		
	.handle-v1:hover,
	.handle-v2:hover,
	.handle-v3:hover {
		background-color: rgba(0,200,0,1.0);
		background-image: -ms-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,200,0,1) 100%);
		background-image: -moz-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,200,0,1) 100%);
		background-image: -o-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,200,0,1) 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(30, rgba(255,255,255,0.3)), color-stop(100, rgba(0,200,0,1)));
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 30%, rgba(0,200,0,1) 100%);
		background-image: linear-gradient(to right, rgba(255,255,255,0.3) 30%, rgba(0,200,0,1) 100%);
	}
	.handle-v1 .top,	.handle-v1 .bottom, .handle-v2 .top,	.handle-v2 .bottom, .handle-v3 .top,	.handle-v3 .bottom {}
	.handle-v1 .top, .handle-v2 .top, .handle-v3 .top {}
	.handle-v1:hover .top, .handle-v2:hover .top, .handle-v3:hover .top  {}
	.handle-v1 .bottom, .handle-v2 .bottom, .handle-v3 .bottom {}
	.handle-v1:hover .bottom , .handle-v2:hover .bottom, .handle-v3:hover .bottom {}
